.btn-NewTask{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-NewTask-inside{
    display: flex;
    align-items: center;
}
.btn-NewTask-inside svg{
    padding: 5px;
}
.btn-NewTask-inside  p{
    padding-right: 10px;
}