#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 160px 80px;
}
.main-frame{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
#m-t-1{
    font-size: 32px;
}
#m-t-2{
    font-size: 16px;
}
#m-t-3{
    font-size: 27px;
}
.to-app-btn{
    width: 160px;
    height: 40px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: "700";
    font-size: "12px";
    font-stretch: narrower;
    border-radius: 20px;
}