.Toastify__toast-container {
    width: 300px; /* Set desired width */
    height: 40px; /* Set desired height or 'auto' for dynamic height */
  }
.Toastify__toast-body{
    padding: 0;
    padding-top: 10px;
    padding-bottom: 13px;
    margin: 0;
    font-size: 12px;
    height: 30px;
}
.Toastify__toast{
    padding: 0px 20px;
    margin: 0;
    height: auto;
    min-height: 0;
}
.Toastify__spinner{
    width: 14px;
    height: 14px;
}
.Toastify__close-button{
    padding-top: 10px;
}
.Toastify__progress-bar {
    background: #2F2F2F; /* Set your desired color */
  }

.ChatAI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 45%;

    bottom: calc(5%); /* -37.75% - closed, 5% - open*/
    position:fixed;
    left: 30%;
    /* background-color: red; */

    /* z-index: 4;  */
}
.btn-openChatAI{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.5%;
    height: 4%;
    border-radius: 5px 5px 0px 0px;
    background: #2F2F2F;
    border: none;
    cursor: pointer;
}
.btn-openChatAI svg{
    height: 60%;
    transition: scale;
    transition-duration: 0.15s;
}
.ChatWindow{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 96%;
    /* padding: 2% 0; */

    border-radius: 15px;
    background: #FFF;
    /* gap: 20px; */
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25) inset;
}
.ChatHistory{
    display: flex;
    width: 90%;
    height: 75%;
    /* height: 70%; */
    overflow: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.ChatRequest{
    display: flex;
    position: relative;
    /* bottom: 0px; */

    width: 55%;
    height: auto;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.25);
    gap: 20px;
    /* margin-bottom: 15px; */
}
.ChatRequest input{
    border: none;
    outline: none;
    position: relative;
    bottom: 0;
    width: 100%;
    resize: none;
    overflow: hidden; /* Hide overflow content */
    height: 1.2em;
    line-height: 1;
    padding-bottom: 0;
    min-height: 1.2em; 
    background-color: transparent;
}
.ChatRequest svg {
    cursor: pointer;
}