.TreeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
    height: 65%;
    min-height: 50%;
    padding: 20px;
    
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);

    position: fixed;
    bottom: 70px;
    /* right: -35%; */
    right: 1%;
}
.RootHolder{
    display: flex;
    width: 90%;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;

    /* border-bottom: 1px solid #000; */
}
.RootHolder p {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-weight: 700 !important;
    line-height: normal;
}
.TreeStructure{
    display: flex;
    width: 90%;
    height: 100%;
    padding: 10px 10px;
    flex-direction: column;
    align-items: center;
    gap: -5px;
    /* border-width:1px;
    border-style:solid;
    border-color:black; */
    overflow: auto;
}