#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 80px;
}
.socials{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.socials a{
    display: flex;
    align-items: center;
}
.foot-menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.foot-menus button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
}